
div.row
  div.col-md-12.item_fade_in
    div.footer-thanks
      h1 Thank you for visiting.

      h3
        !=contents
      div.footer-social
        a.fb(target="_blank", href="#")
          i.fa.fa-facebook
        a.twt(target="_blank", href="#")
          i.fa.fa-twitter
        a.drbl(target="_blank", href="#")
          i.fa.fa-dribbble