//- Left column of two column layout
mixin col_one(head, body)
  // Begin Row 
  div.row
    block
    div.col-md-12
      // Section title 
      div.section-title.item_bottom.text-center
        h1.uppercase 
          != head
        // Vertical Spacer 
        b.v-line-md
        h4.weight-300 
          != body
        // End Section title 
  // End Row 


mixin col_2x
  .w-66-ns.w-66-p.fr-ns.fr-p.mv1.mv1-p
    block