<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="description" content="Responsive One Page Vcard Portfolio or Resume Template"/>
<meta name="author" content="TheThemeLab">
<title>Professional - Responsive One Page Resume Template </title>
<!-- Favicons -->
<link rel="shortcut icon" href="img/ico-16.ico">
<link rel="apple-touch-icon" href="img/ico-57.png" sizes="57x57">
<link rel="apple-touch-icon" href="img/ico-72.png" sizes="72x72">
<link rel="apple-touch-icon" href="img/ico-114.png" sizes="114x114">
<link rel="apple-touch-icon" href="img/ico-144.png" sizes="144x144">

<!-- List of Stylesheet -->
<link type='text/css' href="css/bootstrap.min.css" rel="stylesheet">
<link type='text/css' href="css/plugins.css" rel="stylesheet">
<link type='text/css' href="css/font-awesome.min.css" rel="stylesheet">
<link type='text/css' href="css/style.css" rel="stylesheet">
<link type='text/css' href="css/style-responsive.css" rel="stylesheet">
<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,300,900|Lora:400italic,700italic|Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- Pre-loader -->
<div class="mask">
	<div id="intro-loader">
	</div>
</div>
<!-- End Pre-loader -->
<!-- Navigation -->
<nav id="navigation" class="first-nav white-nav nav-from-top">
<!-- Navigation Inner -->
<div class="nav-inner">
	<div class="logo">
		<!-- Navigation Logo Link -->
		<a href="#home" class="scroll">
		<!-- dark logo for white background -->
		<img src="images/logo-dark.png" class="site_logo" alt="Logo"/>
		</a>
	</div>
	<!-- Mobile Menu Button -->
	<a class="mobile-nav-button colored"><i class="fa fa-bars"></i></a>
	<!-- Navigation Menu -->
	<div class="nav-menu clearfix">
		<ul class="nav uppercase">
			<li><a href="#home" class="scroll">Home</a></li>
			<li class="dropdown-toggle nav-toggle"><a href="#portfolio" class="scroll">Works<b data-toggle="dropdown"></b></a>
      <!-- DropDown Menu -->
			<ul class="dropdown-menu uppercase gray-border clearfix">
        <li><a href="works.html" class="external">Default layout</a></li>
        <li><a href="works-masonry.html" class="external">Masonry Layout</a></li>
				<li><a href="work-single-image.html" class="external">Work Single Page 1</a></li>
				<li><a href="work-image-slider.html" class="external">Work Single Page 2</a></li>
			</ul>
			<!-- End DropDown Menu -->
      </li>
			<li><a href="#about" class="scroll">About</a></li>
			<li><a href="#services" class="scroll">Services</a></li>
			<li><a href="#experience" class="scroll">Resume</a></li>
      <li><a href="#journal" class="scroll">Journal</a></li>
			<li><a href="#contact" class="scroll">contact</a></li>
			<li class="dropdown-toggle nav-toggle"><a href="#" class="scroll">Pages<b data-toggle="dropdown"></b></a>
			<!-- DropDown Menu -->
			<ul class="dropdown-menu uppercase gray-border clearfix">
				<li><a href="blog-list.html" class="external">Blog</a></li>
        <li><a href="blog-post-fullwidth.html" class="external">Blog post</a></li>
        <li><a href="blog-post.html" class="external">Blog post 2</a></li>
			</ul>
			<!-- End DropDown Menu -->
			</li>
      
		</ul>
	</div>
	<!-- End Navigation Menu -->
</div>
<!-- End Navigation Inner -->
</nav>
<!-- End Navigation -->

<!-- Home Section -->
<div id="home" class="headerWrapper">
  <div class="header-video">
	<!-- YouTube background video -->
	<a id="bg-video" class="player" data-property="{videoURL:'http://www.youtube.com/watch?v=dbFV2CqJQ6U',containment:'body',autoPlay:true, mute:true, startAt:0, showControls:false}" data-poster="images/videoBg.jpg">youtube</a>
	<div id="bg-video-controls">
		<a id="bg-video-volume" class="fa fa-volume-off" href="#" title="Unmute">&nbsp;</a>
		<a id="bg-video-play" class="fa fa-pause" href="#" title="Pause">&nbsp;</a>
	</div>
 	<!-- End YouTube background video -->
    <div class="slide-content">      
      <div class="text-center">
        <div class="header-content-small font-alter">Welcome to my site</div>
        <div class="header-large uppercase">John Doe</div>
      </div>
    </div>
      <!-- Scroll icon -->
      <a href="#portfolio" class="scroll">
      <div class="scrollIcon">
      	<span class="scroll-down"></span>
	      <span class="scroll-text">Scroll</span>
      </div>
      </a>
      <!-- End Scroll icon -->    
  </div> 
</div>
<!-- END Home Section -->
<!-- Work Section -->
<section id="portfolio" class="section-content killPadBottom">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<!-- Section title -->
			<div class="section-title item_bottom text-center">
				<h1 class="uppercase">Featured Works</h1>
        <b class="v-line-md"></b>
				<h4 class="weight-300 font-alter text-light-dark">I mostly work on websites, logos, print stuffs and UI design. I help build products from idea to launch. You can see what I have done for my clients.</h4>
			</div>
			<!-- End Section title -->
		</div>
	</div>
</div>
<div class="container-fluid featured-works">
               <!-- Big block-->
               <a href="work-image-slider.html" class="external">    
               <div class="col-md-6 col-sm-6 col-xs-12 height-2 tile work-item bg-image-holder">
                 <img alt="Project Title" src="images/portfolio/thumb/1.jpg" class="background-image">
                    <div class="big-title bg-blue">
                        <h5 class="text-light-white">Web, Photography, Video</h5>
                        <h3 class="text-white">Project Title</h3>
                        <i class="icon-link fa fa-long-arrow-right"></i>
                    </div>
                </div>
                </a>
                <!-- End Big block-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                        <!-- Small block-->
                        <div class="row work-item">
                            <a href="work-single-image.html" class="external">
                            <div class="col-md-6 col-sm-6 col-xs-6 height-1 tile bg-image-holder">
                              <img alt="Project Title" src="images/portfolio/thumb/2.jpg" class="background-image">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 height-1 tile bg-gray">
                                <div class="title">
                                    <h5 class="text-light-white">Web, Photography</h5>
                                    <h3 class="text-white">Project Title</h3>
                                    <i class="icon-link fa fa-long-arrow-right"></i>
                                </div>
                            </div>
                            </a>
                        </div>
                        <!-- End Small block-->
                        <!-- Small block-->
                        <div class="row work-item">
                            <a href="work-image-slider.html" class="external">
                            <div class="col-md-6 col-sm-6 col-xs-6 height-1 tile bg-dark">
                                <div class="title">
                                    <h5 class="text-light-white">Web, Video</h5>
                                    <h3 class="text-white">Project Title</h3>
                                    <i class="icon-link fa fa-long-arrow-right"></i>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 height-1 tile bg-image-holder">
                              <img alt="Project Title" src="images/portfolio/thumb/3.jpg" class="background-image">
                            </div>                                                                                 
                            </a>
                        </div>
                        <!-- End Small block-->
	</div>
</div>
<!-- More works button-->
<a class="btn btn-full btn-dark btn-fill no-margin-padding" href="works.html">
    <h3 class="text-white pad-40">
      Want to see more works? <strong>See More</strong> <i class="fa fa-long-arrow-right"></i>
     </h3>
</a>
<!-- End More works button-->
</section>
<!-- End Work Section -->
<!-- About Section -->
<section id="about" class="section-content killPadBottom">
<div class="container">
	<div class="row">
		<!-- Section title -->
		<div class="section-title item_bottom text-center">
			<h1 class="uppercase">About Me</h1>
      <b class="v-line-md"></b>
		</div>
		<!-- End Section title -->
	</div>
</div>
</section>
<section class="about">      
<div class="image-container bg-image-holder col-md-6 col-sm-6 col-xs-12 pull-left">
		<img src="images/photo.jpg" class="background-image" alt="My photo"/>
		<!-- YOUR PHOTO -->
</div>
<div class="container about-content">
	<div class="row">
		<div class="col-md-5 col-md-offset-7 col-sm-6 col-sm-offset-6 col-xs-12 clearfix">
			<div class="name-title">
				<h2>John Doe</h2>
        <h5>UI/UX Designer & Frontend Developer</h5>
				<!-- Your Name & Designation-->
			</div>
			<div class="">
				<p class="lead">
					Hello, I'm a Graphic Designer & Front End Developer from Dhaka, Bangladesh. I hold a master degree of Web Design from the St. Patrick University.
				</p>
				<p>
					 I currently work at Intel, where I spend most of my time crafting and working on awesome projects. Et congue Ut cursus accumsan iaculis dis libero ut tempor ullamcorper. Non eget consectetuer ipsum nibh nec semper nulla. Integer fermentum augue at risus pretium id porttitor nisi pulvinar. Aliquam imperdiet quam ligula. Nulla facilisi. Duis eu arcu magna.
				</p>
				<img src="images/signature.png" alt="signature"/>
				<!-- YOUR SIGNATURE -->
			</div>
		</div>
	</div>
</div>
</section>
<!-- End About Section -->
<!-- StatBoard & Social Container -->
<section class="statBoard">
<div class="row no-margin-padding">
	<div class="col-sm-4 col-md-2 text-center pad-40 statBg">
		<div class="counter">
			<i class="fa fa-users icon-lg"></i>
			<strong>41</strong>
		</div>
		<h6>Clients</h6>
	</div>
	<div class="col-sm-4 col-md-2 text-center pad-40 alterBg">
		<div class="counter">
			<i class="fa fa-send icon-lg"></i>
			<strong>699</strong>
		</div>
		<h6>Projects</h6>
	</div>
	<div class="col-sm-4 col-md-2 text-center pad-40 statBg">
		<div class="counter">
			<i class="fa fa-trophy icon-lg"></i>
			<strong>19</strong>
		</div>
		<h6>Contest Won</h6>
	</div>
	<div class="col-sm-4 col-md-2 text-center pad-40 faceBook">
		<div class="social-icon-big">
			<a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
		</div>
		<h6>Facebook</h6>
	</div>
	<div class="col-sm-4 col-md-2 text-center pad-40 twitter">
		<div class="social-icon-big">
			<a href="https://plus.google.com/" target="_blank"><i class="fa fa-twitter"></i></a>
		</div>
		<h6>Twitter</h6>
	</div>
	<div class="col-sm-4 col-md-2 text-center pad-40 linkedin">
		<div class="social-icon-big">
			<a href="https://linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
		</div>
		<h6>Linkedin</h6>
	</div>
</div>
</section>
<!-- END StatBoard & Social Container -->
<!-- Skill Section -->
<section id="skill" class="section-content killPadBottom">
<div class="container">
	<div class="row">
		<div class='col-md-5 col-sm-12'>
			<!-- Section Title -->
			<div class="alignRight">
				<h2 class="sub-heading uppercase">I Got The<br>
				<span class="hlite">Skills</span> & Expertise</h2>
        <div class="separator-md right"></div>
				<h4 class="weight-300 font-alter text-light-dark">I mostly work on websites, logos, print stuffs and UI design. You can see what I have done for my clients. Lorem ipsum dolor sit amet consectetuer.</h4>
			</div>
			<!-- End Section Title -->
		</div>
		<div class='col-md-7 col-sm-12 skillArea'>
			<section class="l-skill-nav">
			<!-- Skill Category -->
			<nav class="slide-effect">
			<a href="javascript: rotate('rotate1');" data-hover="Design" class="skills-1 btn-skills"><span>Design</span></a>
			<a href="javascript: rotate('rotate2');" data-hover="Code" class="skills-2 btn-skills l-rMargin-20"><span>Code</span></a>
			</nav>
			<!-- End Skill Category -->
			</section>
			<!-- SkillBar -->
			<div id="pie-container">
				<div id="l-inhalt">
					<div id="skill-bar1" class="bar">
						<h5 class="skill-caption">&nbsp;</h5>
					</div>
					<div id="skill-bar2" class="bar bar2">
						<h5 class="skill-caption">&nbsp;</h5>
					</div>
					<div id="skill-bar3" class="bar bar3">
						<h5 class="skill-caption">&nbsp;</h5>
					</div>
					<div id="skill-bar4" class="bar bar4">
						<h5 class="skill-caption">&nbsp;</h5>
					</div>
					<div id="skill-bar5" class="bar bar5">
						<h5 class="skill-caption">&nbsp;</h5>
					</div>
				</div>
			</div>
			<!-- End SkillBar -->
		</div>
	</div>
</div>
</section>
<!-- End Skill Section -->
<!-- Services Section -->
<section id="services" class="section-content alterBg">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<!-- Section title -->
			<div class="section-title item_bottom text-center">
				<h1 class="uppercase">What I Do</h1>
        <b class="v-line-md"></b>
				<h4 class="weight-300 font-alter text-light-dark">Lorem ipsum dolor sit amet consectetuer eget pellentesque justo In ante. Leo congue augue magnis lobortis auctor justo tincidunt cursus Morbi lorem.</h4>
			</div>
			<!-- End Section title -->
		</div>
	</div>
  <!-- Services-->
  <div class="row clearfix">
  <div class="col-md-6 col-sm-6 col-xs-12">
  <!-- Service Item-->
  <div class="service-item-2 item_top">
    <div class="icon-left">
      <i class="fa fa-desktop"></i>
    </div>
    <div class="content-right">
      <h5 class="uppercase">Fully Responsive</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.</p>
    </div>
  </div>
  <!-- END Service Item-->
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
  <!-- Service Item-->
  <div class="service-item-2 item_top">
    <div class="icon-left">
      <i class="fa fa-file-pdf-o"></i>
    </div>
    <div class="content-right">
      <h5 class="uppercase">Full Documentation</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.</p>
    </div>
  </div>
  <!-- END Service Item-->
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
  <!-- Service Item-->
  <div class="service-item-2 item_top">
    <div class="icon-left">
      <i class="fa fa-microphone"></i>
    </div>
    <div class="content-right">
      <h5 class="uppercase">Free Support</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.</p>
    </div>
  </div>
  <!-- END Service Item-->
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
  <!-- Service Item-->
  <div class="service-item-2 item_top">
    <div class="icon-left">
      <i class="fa fa-lightbulb-o"></i>
    </div>
    <div class="content-right">
      <h5 class="uppercase">Creative Style</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.</p>
    </div>
  </div>
  <!-- END Service Item-->
  </div>
  </div>
  <!-- END Services-->
  
  <div class="row new-line clearfix">
    <div class="col-md-8 col-md-offset-2 text-center item_bottom">
      <h4 class="uppercase">Interest</h4>
      <div class="separator-sm double"></div>
      <!-- Interest -->
      <ul class="interest">
         <li><i class="fa fa-bicycle text-light-dark"></i></li>
         <li><i class="fa fa-camera text-light-dark"></i></li>
         <li><i class="fa fa-music text-light-dark"></i></li>
         <li><i class="fa fa-book text-light-dark"></i></li>
      </ul>
      <!-- END Interest -->
    </div>
  </div>
</div>
</section>
<!-- End Services Section -->
<!-- Testimonial Section==================================================== -->
<section id="testimonial" class="parallax">
<div class="parallax-overlay killPadBottom">
	<div class="container">
		<div class="row text-center">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<h3 class="icon-md text-white"><i class="fa fa-comments-o"></i></h3>
				<div class="testimonial item_fade_in">
					<!--First Slide-->
					<div class="swiper-slide">
						<quote class="small text-white">
						<sup class="fa fa-quote-left"></sup>He really care about making unique designs for their clients, and put in incredible effort to make the whole process a real pleasure.<sup class="fa fa-quote-right"></sup>
						<p class="author">
							 Jak Doe
						</p>
						<p class="company">
							 CEO <a href="#">@Intel</a>
						</p>
						</quote>
					</div>
					<!--Second Slide-->
					<div class="swiper-slide">
						<quote class="small text-white">
						<sup class="fa fa-quote-left"></sup>My website couldn't look better after working with the him on the redesign. Now my site and corporate branding is outstanding!<sup class="fa fa-quote-right"></sup>
						<p class="author">
							 John Doe
						</p>
						<p class="company">
							 Manager <a href="#">@Web Planet</a>
						</p>
						</quote>
					</div>
					<!--Third Slide-->
					<div class="swiper-slide">
						<quote class="small text-white">
						<sup class="fa fa-quote-left"></sup>I am incredibly happy with the increased traffic my site has received since working with you! He is the best at this job.<sup class="fa fa-quote-right"></sup>
						<p class="author">
							 Jane Doe
						</p>
						<p class="company">
							 Founder <a href="#">@Creative Agency</a>
						</p>
						</quote>
					</div>
				</div>
				<!--/ .testimonial-wrapper -->
			</div>
		</div>
		<!--/ .row -->
	</div>
  <!-- Client Section -->
  <div class="container-fluid">
	<div class="row new-line text-center transDarkBg">
		<div class="col-md-8 col-md-offset-2 carrousel-container item_fade_in">
			<div id="client_carrousel" class="owl-carousel owl-theme owl-loaded">
				<!-- Client Logos -->
				<img src=images/clients/1.png alt="logo1">
				<img src=images/clients/2.png alt="logo2">
				<img src=images/clients/3.png alt="logo3">
				<img src=images/clients/4.png alt="logo4">
				<img src=images/clients/5.png alt="logo5">
				<img src=images/clients/6.png alt="logo6">
				<img src=images/clients/7.png alt="logo7">
				<img src=images/clients/8.png alt="logo8">
				<img src=images/clients/9.png alt="logo9">
				<img src=images/clients/10.png alt="logo10">
				<!-- End Client Logos -->
			</div>
		</div>
	</div>
</div>
<!-- End Client Section -->
</div>
</section>
<!-- End Testimonial Section=============================================== -->

<!-- Resume Timeline Section -->
<section id="experience" class="section-content timeline-content">
<div class="container">
	<!-- Section title -->
	<div class="section-title item_bottom text-center">
		<h1 class="uppercase">Resume</h1>
    <b class="v-line-md"></b>
	</div>
	<!-- End Section title -->
	<div class="row">
		<div class='col-md-5 col-sm-12'>
			<!-- Section Title -->
			<div class="alignRight">
				<h2 class="sub-heading uppercase">Work<br>
				<span class="hlite">Experience</span></h2>
        <div class="separator-md right"></div>
				<h4 class="weight-300 font-alter text-light-dark">I have 10+year experience in this field. You can see here my work history. Lorem ipsum dolor sit amet consectetuer.</h4>
			</div>
			<!-- End Section Title -->
		</div>
		<div class='col-md-7 col-sm-12'>
			<ul class="timeline">
				<li class="open">
				<div class="date">
					<span>Present</span>
					<span>Jun 2013</span>
				</div>
				<div class="circle">
				</div>
				<div class="data">
					<h4 class="title">Microsoft Ltd.</h4>
					<div class="content row">
						<div class="col-md-12">
							<h5>Chief UI/UX Designer &amp; Frontend Developer</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas dapibus lectus non dignissim. Pellentesque auctor ornare urna, volutpat condimentum quam porttitor at. Vestibulum tincidunt diam in eros aliquam luctus.
							</p>
						</div>
					</div>
				</div>
				</li>
				<li>
				<div class="date">
					<span>May 2013</span>
					<span>Nov 2011</span>
				</div>
				<div class="circle">
				</div>
				<div class="data">
					<h4 class="title">Orion Group</h4>
					<div class="content row">
						<div class="col-md-12">
							<h5>Project Manager</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas dapibus lectus non dignissim. Pellentesque auctor ornare urna, volutpat condimentum quam porttitor at. Vestibulum tincidunt diam in eros aliquam luctus.
							</p>
						</div>
					</div>
				</div>
				</li>
				<li>
				<div class="date">
					<span>Oct 2011</span>
					<span>Mar 2010</span>
				</div>
				<div class="circle">
				</div>
				<div class="data">
					<h4 class="title">Digital Creative Agency</h4>
					<div class="content row">
						<div class="col-md-12">
							<h5>Sr. Developer</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas dapibus lectus non dignissim. Pellentesque auctor ornare urna, volutpat condimentum quam porttitor at. Vestibulum tincidunt diam in eros aliquam luctus.
							</p>
						</div>
					</div>
				</div>
				</li>
				<li>
				<div class="date">
					<span>Feb 2010</span>
					<span>May 2008</span>
				</div>
				<div class="circle">
				</div>
				<div class="data">
					<h4 class="title">Global Inc</h4>
					<div class="content row">
						<div class="col-md-12">
							<h5>Jr. Developer</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas dapibus lectus non dignissim. Pellentesque auctor ornare urna, volutpat condimentum quam porttitor at. Vestibulum tincidunt diam in eros aliquam luctus.
							</p>
						</div>
					</div>
				</div>
				</li>
			</ul>
		</div>
	</div>
	<hr class="bigMargin">
	<!-- Education -->
	<div class="row">
		<div class='col-md-5 col-sm-12'>
			<!-- Section Title -->
			<div class="alignRight">
				<h2 class="sub-heading uppercase"><span class="hlite">Education</span><br>
				&amp; Certifications</h2>
        <div class="separator-md right"></div>
				<h4 class="weight-300 font-alter text-light-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas dapibus lectus non dignissim.</h4>
			</div>
			<!-- End Section Title -->
		</div>
		<div class='col-md-7 col-sm-12'>
			<ul class="timeline">
				<li class="open">
				<div class="date">
					<span>2009</span>
					<span>2008</span>
				</div>
				<div class="circle">
				</div>
				<div class="data">
					<h4 class="title">Masters in Computer Science</h4>
					<div class="content row">
						<div class="col-md-12">
							<h5>Oxford University</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas dapibus lectus non dignissim. Pellentesque auctor ornare urna, volutpat condimentum quam porttitor at. Vestibulum tincidunt diam in eros aliquam luctus.
							</p>
						</div>
					</div>
				</div>
				</li>
				<li>
				<div class="date">
					<span>2008</span>
					<span>2004</span>
				</div>
				<div class="circle">
				</div>
				<div class="data">
					<h4 class="title">Bechelors in Computer Science</h4>
					<div class="content row">
						<div class="col-md-12">
							<h5>Oxford University</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas dapibus lectus non dignissim. Pellentesque auctor ornare urna, volutpat condimentum quam porttitor at. Vestibulum tincidunt diam in eros aliquam luctus.
							</p>
						</div>
					</div>
				</div>
				</li>
				<li>
				<div class="date">
					<span>2004</span>
					<span>2002</span>
				</div>
				<div class="circle">
				</div>
				<div class="data">
					<h4 class="title">Higher Secondary Certificate</h4>
					<div class="content row">
						<div class="col-md-12">
							<h5>Oxford School &amp; College</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas dapibus lectus non dignissim. Pellentesque auctor ornare urna, volutpat condimentum quam porttitor at. Vestibulum tincidunt diam in eros aliquam luctus.
							</p>
						</div>
					</div>
				</div>
				</li>
				<li>
				<div class="date">
					<span>1999</span>
					<span>2002</span>
				</div>
				<div class="circle">
				</div>
				<div class="data">
					<h4 class="title">Seconday School Certificate</h4>
					<div class="content row">
						<div class="col-md-12">
							<h5>Oxford School &amp; College</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas dapibus lectus non dignissim. Pellentesque auctor ornare urna, volutpat condimentum quam porttitor at. Vestibulum tincidunt diam in eros aliquam luctus.
							</p>
						</div>
					</div>
				</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- END Education -->
	<hr class="bigMargin">
	<div class="row">
		<div class="col-md-12 text-center">
			<h2 class="sub-heading uppercase">Awards &amp; <span class="hlite">Publications</span></h2>
      <div class="separator-md"></div>
			<h4 class="weight-300 font-alter text-light-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas dapibus lectus non dignissim.</h4>
		</div>
	</div>
	<div class="row new-line">
		<div class="col-md-12">
			<div class="col-md-6">
				<div class="award item_left">
					<div class="award-icon">
						<i class="fa fa-trophy icon-lg"></i>
					</div>
					<div class="award-content">
						<h4 class="title">Design Contest - 2012</h4>
						<p>
							Sed in porttitor dolor. Sed eleifend vulputate nulla, congue iaculis arcu mattis porta.
						</p>
						<strong>Published on August 21st 2012</strong>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="award item_right">
					<div class="award-icon">
						<i class="fa fa-trophy icon-lg"></i>
					</div>
					<div class="award-content">
						<h4 class="title">Communication Arts - 2013</h4>
						<p>
							Sed in porttitor dolor. Sed eleifend vulputate nulla, congue iaculis arcu mattis porta.
						</p>
						<strong>Published on August 21st 2013</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-6">
				<div class="award item_left">
					<div class="award-icon">
						<i class="fa fa-trophy icon-lg"></i>
					</div>
					<div class="award-content">
						<h4 class="title">London International</h4>
						<p>
							Sed in porttitor dolor. Sed eleifend vulputate nulla, congue iaculis arcu mattis porta.
						</p>
						<strong>Published on August 1st 2014</strong>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="award item_right">
					<div class="award-icon">
						<i class="fa fa-book icon-lg"></i>
					</div>
					<div class="award-content">
						<h4 class="title">Graphic Design - 2014</h4>
						<p>
							Sed in porttitor dolor. Sed eleifend vulputate nulla, congue iaculis arcu mattis porta.
						</p>
						<strong>Published on July 23rd 2014</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- DOWNLOAD CV-->
	<div class="row">
		<div class="col-md-12">
			<div class="callOut-box item_top">
				<div class="content">
					<h4 class="uppercase">Want to see my printable resume? Download now.</h4>
				</div>
				<div class="button">
					<a class="btn bt-default btn-fill"><i class="fa fa-cloud-download"></i> Download Resume</a>
				</div>
			</div>
			<div>
			</div>
			<!-- END DOWNLOAD CV-->
		</div>
	</div>
</div>
</section>
<!-- End Resume Timeline Section -->
<!-- Parallax Quote Section -->
<div id="quote" class="parallax">
	<div class="parallax-overlay-large">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-8 col-md-push-2">
					<!-- Quote title -->
					<h2 class="text-dark quote-bg-white">Making an awesome product that you love is good, but making an awesome product that others use is <span class="hlite"><strong>AMAZING!</strong></span></h2>
					<!-- End Quote title -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Parallax Quote Section -->
<!-- JOURNAL -->
<section id="journal" class="section-content">
<div class="container">
	<div class="row">
		<!-- Section title -->
		<div class="section-title item_bottom text-center">
			<h1 class="uppercase">My Journal</h1>
      <b class="v-line-md"></b>
      <h4 class="weight-300 font-alter text-light-dark">Lorem ipsum dolor sit amet consectetuer eget pellentesque justo In ante. Leo congue augue magnis lobortis auctor justo tincidunt cursus Morbi lorem.</h4>
		</div>
		<!-- End Section title -->
	</div>
	<div class="row">
    <!-- Featured Post-->
		<div class="col-md-12">
			<div class="post-holder item_top">                                    
				<div class="post bg-image-holder clearfix">
						<img alt="" src="images/blog/blog1.jpg" class="background-image">
            <span class="blog-overlay"></span>
					<div class="post-content">
						<div class="meta clearfix">
							<div class="date">
								13 June, 2014
							</div>
							<div class="categories">
								Web, Photos, Apps
							</div>
						</div>
						<h3 class="post-title"><a href="blog-post.html">Eget id tristique id facilisi sed Aenean Donec</a></h3>
            <a class="btn btn-default btn-light external" href="blog-post.html">Read more</a>
					</div>
				</div>
			</div>
		</div>
		<!-- End Featured Post-->
		<!-- Post 1-->
		<div class="col-md-6 col-sm-12">
			<div class="post-holder item_left">                                    
				<div class="post bg-image-holder clearfix">
						<img alt="" src="images/blog/blog1.jpg" class="background-image">
            <span class="blog-overlay"></span>
					<div class="post-content">
						<div class="meta clearfix">
							<div class="date">
								13 June, 2014
							</div>
							<div class="categories">
								Web, Photos, Apps
							</div>
						</div>
						<h3 class="post-title"><a href="blog-post.html">Eget id tristique id facilisi sed Aenean Donec</a></h3>
            <a class="btn btn-default btn-light external" href="blog-post.html">Read more</a>
					</div>
				</div>
			</div>
		</div>
		<!-- End Post 1-->
		<!-- Post 2-->
		<div class="col-md-6 col-sm-12">
			<div class="post-holder item_right">
				<div class="post bg-image-holder clearfix">
          <img alt="" src="images/blog/blog1.jpg" class="background-image">
          <span class="blog-overlay"></span>
					<div class="post-content">
						<div class="meta clearfix">
							<div class="date">
								13 June, 2014
							</div>
							<div class="categories">
								Web, Apps
							</div>
						</div>
						<h3 class="post-title"><a href="blog-post.html">Quisque feugiat Nunc ante tempus ut ridiculus Maecenas</a></h3>
            <a class="btn btn-light btn-default external" href="blog-post.html">Read more</a>
					</div>
				</div>
			</div>
		</div>
		<!-- End Post 2-->
		<!-- Post 3-->
		<div class="col-md-6 col-sm-12">
			<div class="post-holder item_left">
				<div class="post bg-image-holder clearfix">
          <img alt="" src="images/blog/blog2.jpg" class="background-image">
          <span class="blog-overlay"></span>
					<div class="post-content">
						<div class="meta clearfix">
							<div class="date">
								13 June, 2014
							</div>
							<div class="categories">
								Web
							</div>
						</div>
						<h3 class="post-title"><a href="blog-post.html">Pretium Suspendisse hendrerit parturient Nam nec Curabitur velit tempus</a></h3>
            <a class="btn btn-light btn-default external" href="blog-post.html">Read more</a>
					</div>
				</div>
			</div>
		</div>
		<!-- End Post 3-->
		<!-- Post 4-->
		<div class="col-md-6 col-sm-12">
			<div class="post-holder item_right">
				<div class="post bg-image-holder clearfix">
						<img alt="" src="images/blog/blog2.jpg" class="background-image">
            <span class="blog-overlay"></span>
					<div class="post-content">
						<div class="meta clearfix">
							<div class="date">
								13 June, 2014
							</div>
							<div class="categories">
								Photos, Apps
							</div>
						</div>
						<h3 class="post-title"><a href="blog-post.html">Tellus dignissim semper vel lacinia dictum enim</a></h3>
            <a class="btn btn-light btn-default external" href="blog-post.html">Read more</a>
					</div>
				</div>
			</div>
		</div>
		<!-- End Post 4-->
	</div>
	<div class="row">
		<div class="col-md-12 text-center new-line">
			<a href="blog-list.html" class="btn btn-fill btn-lg btn-default external"><i class="fa fa-search"></i> View All Post</a>
		</div>
	</div>
</div>
</section>
<!-- END JOURNAL -->
<!-- Contact Section -->
<section id="contact" class="section-content alterBg killPadBottom">
<div class="container">
	<div class="row">
		<div class='col-md-5'>
			<!-- Section Title -->
			<div class="alignRight">
				<h2 class="sub-heading uppercase">If you have<br><span class="hlite">any question</span> ask me</h2>
        <div class="separator-md right"></div>
				<h4 class="weight-300 font-alter text-light-dark">Want to say hello? Want to know more about us? Give us a call or drop us an email and we will get back to you as soon as we can.</h4>
			</div>
			<!-- End Section Title -->
		</div>
		<div class='col-md-4'>
			<div class="form-respond text-center">
			</div>
			<form method="post" name="contactform" id="contactform" class="validate" role="form" autocomplete="on">
				<div class="form-group">
					<input type="text" name="name" id="name" class="form-control input-lg required" placeholder="Your Name">
					<input type="email" name="email" id="email" class="form-control input-lg required email" placeholder="Your Email">
					<textarea name="message" id="message" class="form-control input-lg required" rows="9" placeholder="Your Message"></textarea>
				</div>
				<div class="form-group">
					<div class="text-right">
						<button type="submit" id="contactForm_submit" class="btn btn-dark btn-default btn-full btn-fill"><i class="fa fa-paper-plane-o"></i> Say Hello!</button>
					</div>
				</div>
				<!-- antispam code -->
        <div class="antispam">
          <input type="text" value="" name="url">
        </div>
			</form>
		</div>
		<div class="col-md-3">
			<!-- Contact Details -->
			<ul class="contact-info">
				<li>
				<i class="fa fa-map-marker"></i>
				<span>
				<strong>John Doe</strong>
				<br>
				12 Segun Bagicha, <br>
				Dhaka, Bangladesh </span>
				</li>
				<li>
				<i class="fa fa-phone"></i>
				<span>
				<strong>Phone</strong>
				<br>
				+1 343 234 4343 <br>
				+9243 243 4243 </span>
				</li>
				<li>
				<i class="fa fa-skype"></i>
				<span>
				<strong>Skype</strong>
				<br>
				john.doe </span>
				</li>
				<li>
				<i class="fa fa-envelope"></i>
				<span>
				<strong>Email</strong>
				<br>
				<a href="mailto:">johndoe@example.com</a>
				</span>
				</li>
			</ul>
			<!-- End Contact Details -->
		</div>
	</div>
	<!-- End form contact -->
</div>
<!-- Google maps -->
<div id="map_canvas" class="item_fade_in">
</div>
<!-- End Google maps -->
</section>
<!-- End Contact Section -->
<footer class="text-center">
<!-- Footer Container -->
<div class="container">
	<div class="row">
		<div class="col-md-12 item_fade_in">
			<div class="uppercase text-center">
				&copy; Copyright 2014 Professional. All Rights Reserved.
			</div>
		</div>
	</div>
</div>
<!-- End Footer Container -->
</footer>
<!-- Back to top -->
<a href="#" id="back-top"><i class="fa fa-arrow-up fa-lg"></i></a>
<!-- Js Library -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/jquery.sticky.js"></script>
<script type="text/javascript" src="js/jquery.appear.js"></script>
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="js/gmap-settings.js"></script>
<script type="text/javascript" src="js/skill-settings.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<!-- Js Library -->
</body>
</html>