<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="description" content="Responsive One Page Vcard Portfolio or Resume Template"/>
<meta name="author" content="TheThemeLab">
<title>Professional - Responsive One Page Resume Template </title>
<!-- Favicons -->
<link rel="shortcut icon" href="img/ico-16.ico">
<link rel="apple-touch-icon" href="img/ico-57.png" sizes="57x57">
<link rel="apple-touch-icon" href="img/ico-72.png" sizes="72x72">
<link rel="apple-touch-icon" href="img/ico-114.png" sizes="114x114">
<link rel="apple-touch-icon" href="img/ico-144.png" sizes="144x144">
<!-- List of Stylesheet -->
<link type='text/css' href="css/bootstrap.min.css" rel="stylesheet">
<link type='text/css' href="css/plugins.css" rel="stylesheet">
<link type='text/css' href="css/font-awesome.min.css" rel="stylesheet">
<link type='text/css' href="css/style.css" rel="stylesheet">
<link type='text/css' href="css/style-responsive.css" rel="stylesheet">
<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,300,900|Lora:400italic,700italic|Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- Pre-loader -->
<div class="mask">
	<div id="intro-loader">
	</div>
</div>
<!-- End Pre-loader -->
<!-- Navigation -->
<nav id="navigation-sticky" class="first-nav color-nav">
<!-- Navigation Inner -->
<div class="nav-inner">
	<div class="logo">
		<!-- Navigation Logo Link -->
		<a href="index.html" class="scroll">
		<!-- dark logo for white background -->
		<img src="images/logo-light.png" class="site_logo" alt="Logo"/>
		</a>
	</div>
	<!-- Mobile Menu Button -->
	<a class="mobile-nav-button colored"><i class="fa fa-bars"></i></a>
	<!-- Navigation Menu -->
	<div class="nav-menu clearfix">
		<ul class="nav uppercase">
			<li><a href="index.html" class="scroll">Home</a></li>
			<li class="active"><a href="about.html" class="scroll">About</a></li>
			<li><a href="services.html" class="scroll">Services</a></li>
      <li><a href="blog-list.html" class="scroll">Blog</a></li>
			<li><a href="contact.html" class="scroll">Contact</a></li>      
		</ul>
	</div>
	<!-- End Navigation Menu -->
</div>
<!-- End Navigation Inner -->
</nav>
<!-- End Navigation -->
<!-- About Section -->
<section id="about" class="section-content killPadBottom">
	<div class="container">
		<div class="row">
			<!-- Section title -->
			<div class="section-title item_bottom text-center">
				<h1 class="uppercase">About Me</h1>
	      <b class="v-line-md"></b>
			</div>
			<!-- End Section title -->
		</div>
	</div>
</section>
<section class="about">      
	<div class="image-container bg-image-holder col-md-6 col-sm-6 col-xs-12 pull-left">
			<img src="images/photo.jpg" class="background-image" alt="My photo"/>
			<!-- YOUR PHOTO -->
	</div>
	<div class="container about-content">
		<div class="row">
			<div class="col-md-5 col-md-offset-7 col-sm-6 col-sm-offset-6 col-xs-12 clearfix">
				<div class="name-title">
					<h2>John Doe</h2>
	        <h5>UI/UX Designer & Frontend Developer</h5>
					<!-- Your Name & Designation-->
				</div>
				<div class="">
					<p class="lead">
						Hello, I'm a Graphic Designer & Front End Developer from Dhaka, Bangladesh. I hold a master degree of Web Design from the St. Patrick University.
					</p>
					<p>
						 I currently work at Intel, where I spend most of my time crafting and working on awesome projects. Et congue Ut cursus accumsan iaculis dis libero ut tempor ullamcorper. Non eget consectetuer ipsum nibh nec semper nulla. Integer fermentum augue at risus pretium id porttitor nisi pulvinar. Aliquam imperdiet quam ligula. Nulla facilisi. Duis eu arcu magna.
					</p>
					<img src="images/signature.png" alt="signature"/>
					<!-- YOUR SIGNATURE -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About Section -->
<!-- StatBoard & Social Container -->
<section class="statBoard">
<div class="row no-margin-padding">
	<div class="col-sm-4 col-md-2 text-center pad-40 statBg">
		<div class="counter">
			<i class="fa fa-users icon-lg"></i>
			<strong>41</strong>
		</div>
		<h6>Clients</h6>
	</div>
	<div class="col-sm-4 col-md-2 text-center pad-40 alterBg">
		<div class="counter">
			<i class="fa fa-send icon-lg"></i>
			<strong>699</strong>
		</div>
		<h6>Projects</h6>
	</div>
	<div class="col-sm-4 col-md-2 text-center pad-40 statBg">
		<div class="counter">
			<i class="fa fa-trophy icon-lg"></i>
			<strong>19</strong>
		</div>
		<h6>Contest Won</h6>
	</div>
	<div class="col-sm-4 col-md-2 text-center pad-40 faceBook">
		<div class="social-icon-big">
			<a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
		</div>
		<h6>Facebook</h6>
	</div>
	<div class="col-sm-4 col-md-2 text-center pad-40 twitter">
		<div class="social-icon-big">
			<a href="https://plus.google.com/" target="_blank"><i class="fa fa-twitter"></i></a>
		</div>
		<h6>Twitter</h6>
	</div>
	<div class="col-sm-4 col-md-2 text-center pad-40 linkedin">
		<div class="social-icon-big">
			<a href="https://linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
		</div>
		<h6>Linkedin</h6>
	</div>
</div>
</section>
<!-- END StatBoard & Social Container -->
<!-- Skill Section -->
<section id="skill" class="section-content killPadBottom">
<div class="container">
	<div class="row">
		<div class='col-md-5 col-sm-12'>
			<!-- Section Title -->
			<div class="alignRight">
				<h2 class="sub-heading uppercase">I Got The<br>
				<span class="hlite">Skills</span> & Expertise</h2>
        <div class="separator-md right"></div>
				<h4 class="weight-300 font-alter text-light-dark">I mostly work on websites, logos, print stuffs and UI design. You can see what I have done for my clients. Lorem ipsum dolor sit amet consectetuer.</h4>
			</div>
			<!-- End Section Title -->
		</div>
		<div class='col-md-7 col-sm-12 skillArea'>
			<section class="l-skill-nav">
			<!-- Skill Category -->
			<nav class="slide-effect">
			<a href="javascript: rotate('rotate1');" data-hover="Design" class="skills-1 btn-skills"><span>Design</span></a>
			<a href="javascript: rotate('rotate2');" data-hover="Code" class="skills-2 btn-skills l-rMargin-20"><span>Code</span></a>
			</nav>
			<!-- End Skill Category -->
			</section>
			<!-- SkillBar -->
			<div id="pie-container">
				<div id="l-inhalt">
					<div id="skill-bar1" class="bar">
						<h5 class="skill-caption">&nbsp;</h5>
					</div>
					<div id="skill-bar2" class="bar bar2">
						<h5 class="skill-caption">&nbsp;</h5>
					</div>
					<div id="skill-bar3" class="bar bar3">
						<h5 class="skill-caption">&nbsp;</h5>
					</div>
					<div id="skill-bar4" class="bar bar4">
						<h5 class="skill-caption">&nbsp;</h5>
					</div>
					<div id="skill-bar5" class="bar bar5">
						<h5 class="skill-caption">&nbsp;</h5>
					</div>
				</div>
			</div>
			<!-- End SkillBar -->
		</div>
	</div>
</div>
</section>
<!-- End Skill Section -->
<!-- Testimonial Section==================================================== -->
<section id="testimonial" class="parallax">
<div class="parallax-overlay killPadBottom">
	<div class="container">
		<div class="row text-center">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<h3 class="icon-md text-white"><i class="fa fa-comments-o"></i></h3>
				<div class="testimonial item_fade_in">
					<!--First Slide-->
					<div class="swiper-slide">
						<quote class="small text-white">
						<sup class="fa fa-quote-left"></sup>He really care about making unique designs for their clients, and put in incredible effort to make the whole process a real pleasure.<sup class="fa fa-quote-right"></sup>
						<p class="author">
							 Jak Doe
						</p>
						<p class="company">
							 CEO <a href="#">@Intel</a>
						</p>
						</quote>
					</div>
					<!--Second Slide-->
					<div class="swiper-slide">
						<quote class="small text-white">
						<sup class="fa fa-quote-left"></sup>My website couldn't look better after working with the him on the redesign. Now my site and corporate branding is outstanding!<sup class="fa fa-quote-right"></sup>
						<p class="author">
							 John Doe
						</p>
						<p class="company">
							 Manager <a href="#">@Web Planet</a>
						</p>
						</quote>
					</div>
					<!--Third Slide-->
					<div class="swiper-slide">
						<quote class="small text-white">
						<sup class="fa fa-quote-left"></sup>I am incredibly happy with the increased traffic my site has received since working with you! He is the best at this job.<sup class="fa fa-quote-right"></sup>
						<p class="author">
							 Jane Doe
						</p>
						<p class="company">
							 Founder <a href="#">@Creative Agency</a>
						</p>
						</quote>
					</div>
				</div>
				<!--/ .testimonial-wrapper -->
			</div>
		</div>
		<!--/ .row -->
	</div>
  <!-- Client Section -->
  <div class="container-fluid">
	<div class="row new-line text-center transDarkBg">
		<div class="col-md-8 col-md-offset-2 carrousel-container item_fade_in">
			<div id="client_carrousel" class="owl-carousel owl-theme owl-loaded">
				<!-- Client Logos -->
				<img src=images/clients/1.png alt="logo1">
				<img src=images/clients/2.png alt="logo2">
				<img src=images/clients/3.png alt="logo3">
				<img src=images/clients/4.png alt="logo4">
				<img src=images/clients/5.png alt="logo5">
				<img src=images/clients/6.png alt="logo6">
				<img src=images/clients/7.png alt="logo7">
				<img src=images/clients/8.png alt="logo8">
				<img src=images/clients/9.png alt="logo9">
				<img src=images/clients/10.png alt="logo10">
				<!-- End Client Logos -->
			</div>
		</div>
	</div>
</div>
<!-- End Client Section -->
</div>
</section>
<!-- End Testimonial Section=============================================== -->
<footer class="text-center">
<!-- Footer Container -->
<div class="container">
	<div class="row">
		<div class="col-md-12 item_fade_in">
      <div class="footer-thanks"><h1>Thank you for visiting.</h1>
        <div class="footer-social">
					<a class="fb" target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
					<a class="twt" target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
					<a class="drbl" target="_blank" href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
				</div>
      </div>
    </div>
	</div>
  <div class="row">
		<div class="col-md-12 item_fade_in">
			<div class="uppercase text-center">
				&copy; Copyright 2014 Professional. All Rights Reserved.
			</div>
		</div>
	</div>
</div>
<!-- End Footer Container -->
</footer>
<!-- Js Library -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/jquery.sticky.js"></script>
<script type="text/javascript" src="js/jquery.appear.js"></script>
<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="js/gmap-settings.js"></script>
<script type="text/javascript" src="js/skill-settings.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<!-- Js Library -->
</body>
</html>