<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="description" content="Responsive One Page Vcard Portfolio or Resume Template"/>
<meta name="author" content="TheThemeLab">
<title>Professional - Responsive One Page Resume Template </title>
<!-- Favicons -->
<link rel="shortcut icon" href="img/ico-16.ico">
<link rel="apple-touch-icon" href="img/ico-57.png" sizes="57x57">
<link rel="apple-touch-icon" href="img/ico-72.png" sizes="72x72">
<link rel="apple-touch-icon" href="img/ico-114.png" sizes="114x114">
<link rel="apple-touch-icon" href="img/ico-144.png" sizes="144x144">

<!-- List of Stylesheet -->
<link type='text/css' href="css/bootstrap.min.css" rel="stylesheet">
<link type='text/css' href="css/plugins.css" rel="stylesheet">
<link type='text/css' href="css/font-awesome.min.css" rel="stylesheet">
<link type='text/css' href="css/style.css" rel="stylesheet">
<link type='text/css' href="css/style-responsive.css" rel="stylesheet">
<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,300,900|Lora:400italic,700italic|Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- Pre-loader -->
<div class="mask">
	<div id="intro-loader">
	</div>
</div>
<!-- End Pre-loader -->
<!-- Navigation -->
<nav id="navigation-sticky" class="first-nav color-nav">
<!-- Navigation Inner -->
<div class="nav-inner">
	<div class="logo">
		<!-- Navigation Logo Link -->
		<a href="index.html" class="scroll">
		<!-- dark logo for white background -->
		<img src="images/logo-light.png" class="site_logo" alt="Logo"/>
		</a>
	</div>
	<!-- Mobile Menu Button -->
	<a class="mobile-nav-button colored"><i class="fa fa-bars"></i></a>
	<!-- Navigation Menu -->
	<div class="nav-menu clearfix">
		<ul class="nav uppercase">
			<li><a href="index.html" class="scroll">Home</a></li>
			<li><a href="about.html" class="scroll">About</a></li>
			<li><a href="services.html" class="scroll">Services</a></li>
      <li><a href="blog-list.html" class="scroll">Blog</a></li>
			<li class="active"><a href="contact.html" class="scroll">Contact</a></li>      
		</ul>
	</div>
	<!-- End Navigation Menu -->
</div>
<!-- End Navigation Inner -->
</nav>
<!-- End Navigation -->
<!-- Contact Section -->
<section id="contact" class="section-content new-line killPadBottom">   
<div class="container">
  	<div class="row">
		<div class="col-md-12">
			<!-- Section title -->
			<div class="section-title item_bottom text-center">
				<h1 class="uppercase">Get in Touch</h1>
        <b class="v-line-md"></b>
				<h4 class="weight-300">Want to say hello? Want to know more about us? Give us a call or drop us an email and we will get back to you as soon as we can.</h4>
			</div>
			<!-- End Section title -->
		</div>
	</div>
	<div class="row">
		<div class='col-md-8 col-sm-8'>
			<div class="form-respond text-center">
			</div>
			<form method="post" name="contactform" id="contactform" class="validate item_bottom" role="form" autocomplete="on">
				<div class="form-group">
					<input type="text" name="name" id="name" class="form-control input-lg required" placeholder="Your Name">
					<input type="email" name="email" id="email" class="form-control input-lg required email" placeholder="Your Email">
					<textarea name="message" id="message" class="form-control input-lg required" rows="9" placeholder="Your Message"></textarea>
				</div>
				<div class="form-group">
					<div class="text-right">
						<button type="submit" id="contactForm_submit" class="btn btn-dark btn-default btn-full btn-fill"><i class="fa fa-paper-plane-o"></i> Say Hello!</button>
					</div>
				</div>
				<!-- antispam code -->
        <div class="antispam">
          <input type="text" value="" name="url">
        </div>
			</form>
		</div>
		<div class="col-md-4 col-sm-4">
			<!-- Contact Details -->
			<ul class="contact-info item_right">
				<li>
				<i class="fa fa-map-marker"></i>
				<span>
				<strong>John Doe</strong>
				<br>
				12 Segun Bagicha, <br>
				Dhaka, Bangladesh </span>
				</li>
				<li>
				<i class="fa fa-phone"></i>
				<span>
				<strong>Phone</strong>
				<br>
				+1 343 234 4343 <br>
				+9243 243 4243 </span>
				</li>
				<li>
				<i class="fa fa-skype"></i>
				<span>
				<strong>Skype</strong>
				<br>
				john.doe </span>
				</li>
				<li>
				<i class="fa fa-envelope"></i>
				<span>
				<strong>Email</strong>
				<br>
				<a href="mailto:">johndoe@example.com</a>
				</span>
				</li>
			</ul>
			<!-- End Contact Details -->
		</div>
	</div>
	<!-- End form contact -->
</div>
<!-- Google maps -->
<div id="map_canvas" class="item_fade_in">
</div>
<!-- End Google maps -->
</section>
<!-- End Contact Section -->
<footer class="text-center">
<!-- Footer Container -->
<div class="container">
	<div class="row">
		<div class="col-md-12 item_fade_in">
      <div class="footer-thanks"><h1>Thank you for visiting.</h1>
        <div class="footer-social">
					<a class="fb" target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
					<a class="twt" target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
					<a class="drbl" target="_blank" href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
				</div>
      </div>
    </div>
	</div>
  <div class="row">
		<div class="col-md-12 item_fade_in">
			<div class="uppercase text-center">
				&copy; Copyright 2014 Professional. All Rights Reserved.
			</div>
		</div>
	</div>
</div>
<!-- End Footer Container -->
</footer>
<!-- Js Library -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/jquery.sticky.js"></script>
<script type="text/javascript" src="js/jquery.appear.js"></script>
<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="js/gmap-settings.js"></script>
<script type="text/javascript" src="js/skill-settings.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<!-- Js Library -->
</body>
</html>