<!-- Skill Section -->
<section id="experience" class="section-content killPadBottom statBg">
	<div class="container">
		<!-- Section title -->
		<div class="section-title item_bottom text-center">
			<h1 class="uppercase">Experience</h1>
	    	<b class="v-line-md"></b>
		</div>
		<!-- End Section title -->
		<div class="row">
			<div class='col-md-5 col-sm-12'>
				<!-- Section Title -->
				<div class="alignRight" id="skill-category-details">
					<h2 class="sub-heading uppercase">
						I Got The<br>
						<span class="hlite">Skills</span> & Expertise
					</h2>
	        		<div class="separator-md right"></div>
					<h4 class="weight-300 font-alter text-light-dark">
						I mostly work on websites, logos, print stuffs and UI design. You can see what I have done for my clients. Lorem ipsum dolor sit amet consectetuer.
					</h4>
					<h2 id="skill-category-title" class="sub-heading uppercase"></h2>
					<h4 id="skill-category-summary" class="weight-300 font-alter text-light-dark"></h4>
				</div>
				<!-- End Section Title -->
			</div>
			<div class='col-md-7 col-sm-12 skillArea'>
				<section class="l-skill-nav">
					<!-- Skill Category -->
					<nav class="slide-effect">
						<!-- Skill Group Category Buttons -->
					</nav>
					<!-- End Skill Category -->
				</section>
				<!-- SkillBar -->
				<div id="pie-container">
					<div id="l-inhalt">
						<!-- Skill Group Items -->
					</div>
				</div>
				<!-- End SkillBar -->
			</div>
		</div>
	</div>
</section>
<!-- End Skill Section -->