<!-- Js Library -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins.js"></script>
<script type="text/javascript" src="/assets/js/jquery.sticky.js"></script>
<script type="text/javascript" src="/assets/js/jquery.appear.js"></script>
<script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>-->
<script type="text/javascript" src="/assets/js/gmap-settings.js"></script>
<script type="text/javascript" src="/assets/js/skill-settings.js"></script>
<script type="text/javascript" src="/assets/js/script.js"></script>
<!-- Js Library -->