<!-- Navigation -->
<nav id="navigation-sticky" class="first-nav color-nav">
<!-- Navigation Inner -->
<div class="nav-inner">
	<div class="logo">
		<!-- Navigation Logo Link -->
		<a href="index.html" class="scroll">
		<!-- dark logo for white background -->
		<img src="/assets/images/logo-light.png" class="site_logo" alt="Logo"/>
		</a>
	</div>
	<!-- Mobile Menu Button -->
	<a class="mobile-nav-button colored"><i class="fa fa-bars"></i></a>
	<!-- Navigation Menu -->
	<div class="nav-menu clearfix">
		<ul class="nav uppercase">
			<li><a href="#about" class="scroll">Home</a></li>
			<li><a href="#resume" class="scroll">Resume</a></li>
			<li><a href="#experience" class="scroll">Experience</a></li>
			<li><a href="#contact" class="scroll">Contact</a></li>      
		</ul>
	</div>
	<!-- End Navigation Menu -->
</div>
<!-- End Navigation Inner -->
</nav>
<!-- End Navigation -->