<!-- About Section -->
<section id="about" class="section-content killPadBottom">
	<div class="container">
	</div>
</section>
<section class="about section-content killPadBottom">      
	<div id="me-avatar-container" class="image-container col-md-6 col-sm-6 col-xs-12 pull-left">
		<img id="me-avatar" class="" src="{{gravatar.justinhyland}}?s=400" />
	</div>
	<div class="container about-content">
		<div class="row">
			<div class="col-md-5 col-md-offset-7 col-sm-6 col-sm-offset-6 col-xs-12 clearfix">
				<div class="name-title">
					<h2>{{model.personal.name.first}} {{model.personal.name.last}}</h2>
	        		<h5>{{model.general.title}}</h5>
					<!-- Your Name & Designation-->
				</div>
				<div class="">
					<p class="lead">{{model.general.description}}</p>
					<p>{{model.general.summary}}</p>
					<!-- <img src="/assets/images/signature.png" alt="signature"/>
					YOUR SIGNATURE -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About Section -->