<footer class="text-center">
<!-- Footer Container -->
<div class="container">
	<div class="row">
		<div class="col-md-12 item_fade_in">
      <div class="footer-thanks"><h1>Thank you for visiting.</h1>
        <div class="footer-social">
					<a class="fb" target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
					<a class="twt" target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
					<a class="drbl" target="_blank" href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
				</div>
      </div>
    </div>
	</div>
  <div class="row">
		<div class="col-md-12 item_fade_in">
			<div class="uppercase text-center">
				Last Update: <strong>{{date}}</strong>
			</div>
		</div>
	</div>
</div>
<!-- End Footer Container -->
</footer>