<!-- Start Stats Section -->
<section class="statBoard">
	<div class="row no-margin-padding">
		<div class="col-sm-4 col-md-2 text-center pad-40 statBg">
			<div class="counter">
				<i class="fa fa-linux icon-lg stat-icon"></i>
				<strong>?</strong>
			</div>
			<h6>Linux</h6>
		</div>
		<div class="col-sm-4 col-md-2 text-center pad-40 alterBg">
			<div class="counter">
				<i class="fa fa-gears icon-lg stat-icon"></i>
				<strong>?</strong>
			</div>
			<h6>Automation</h6>
		</div>
		<div class="col-sm-4 col-md-2 text-center pad-40 statBg">
			<div class="counter">
				<i class="fa fa-code icon-lg stat-icon"></i>
				<strong>?</strong>
			</div>
			<h6>Development</h6>
		</div>
		<div class="col-sm-4 col-md-2 text-center pad-40 faceBook">
			<div class="social-icon-big">
				<a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
			</div>
			<h6>Facebook</h6>
		</div>
		<div class="col-sm-4 col-md-2 text-center pad-40 twitter">
			<div class="social-icon-big">
				<a href="https://plus.google.com/" target="_blank"><i class="fa fa-twitter"></i></a>
			</div>
			<h6>Twitter</h6>
		</div>
		<div class="col-sm-4 col-md-2 text-center pad-40 linkedin">
			<div class="social-icon-big">
				<a href="https://linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
			</div>
			<h6>Linkedin</h6>
		</div>
	</div>
</section>
<!-- End Stats Section -->