doctype html
include components/misc
include components/tabs
include components/panels
include components/icons
include components/alerts
include components/modal
include components/buttons
include components/list-groups
include components/navs
include components/navbar
include components/labels

html(ang="en-US", class="no-js")
	head
		include partials/template/head

	body
		// Begin Pre-loader 
		div.mask
			div#intro-loader
		// End Pre-loader 

		// Including Navigation
		include partials/template/navigation
			
		// Begin Contact Section 
		section#contact.section-content.new-line.killPadBottom
			div.container
				block content
					//- default content block


		include partials/template/footer
		
		// Begin JS Library 
		script(type="text/javascript", src="/assets/js/jquery.min.js")
		script(type="text/javascript", src="/assets/js/bootstrap.min.js")
		script(type="text/javascript", src="/assets/js/plugins.js")
		script(type="text/javascript", src="/assets/js/jquery.sticky.js")
		script(type="text/javascript", src="/assets/js/jquery.appear.js")
		script(type="text/javascript", src="/assets/js/jquery.validate.min.js")
		script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?sensor=false")
		script(type="text/javascript", src="/assets/js/gmap-settings.js")
		script(type="text/javascript", src="/assets/js/skill-settings.js")
		script(type="text/javascript", src="/assets/js/script.js")
		script(type="text/javascript", src="/assets/js/lodash.min.js")
		// End JS Library 


