extends base-layout

//- include components/misc


block content
  +begin_block( 'contact.pug > content' )

  div.row
    div.col-md-12
      div.section-title.item_bottom.text-center(style="opacity: 1; bottom: 0px;")
        h1.uppercase Section Header
        h4.weight-300 Section Summary

  div.row.clearfix
    div.col-md-12.col-sm-12.col-xs-12
      div.service-item-2.item_top(style="opacity: 1; top: 0px;")
        div
          h5.uppercase Full Width
          p This will be full width

  div.row.clearfix
    div.col-md-6.col-sm-6.col-xs-12
      div.service-item-2.item_top(style="opacity: 1; top: 0px;")
        div.icon-right
          i.fa.fa-desktop
        div.content-left
          h5.uppercase Left Side
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin
    div.col-md-6.col-sm-6.col-xs-12
      div.service-item-2.item_top(style="opacity: 1; top: 0px;")
        div.icon-left
          i.fa.fa-file-pdf-o
        div.content-right
          h5.uppercase Right Side
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin


  +end_block( 'contact.pug > content' )

//- 
  block footer_content
    div.col-md-12.item_fade_in
      strong Thanks for visiting...