extends base-layout

include components/section

//- include components/misc


block content
  +begin_block( 'hello-world.pug > content' )

  +rowc()
    .col-md-12
      .section-title.item_bottom.text-center(style="opacity: 1; bottom: 0px;")
        h1.uppercase Section Header
        h4.weight-300 Section Body
        span
          +text('danger') Danger (default element)
          p This is a test

  +rowc()
    +section-2()


  //-p This is the hello world example...
  //- No attributes or params, just a class
  +rowc()
    +section-title('Section One','Example without attributes or params')

  +rowc().quux
    +section-title('Section Two','Example with only a class attribute')

  //- Attributes, but no params
  +rowc()(data-foo="bar", class="baz").quux
    +section-title('Section Three','Example with multiple attributes (in parenthesis)')

  //- Attributes AND params
  +rowc('test')(data-foo="bar", class="baz").quux
    +section-title('Section Four','Example with multiple attributes and a parameter')


  +row()(class="clearfix test1")
    +section-title('Section Two','WITH a vertical line', true)

  +row()(class="clearfix test2")
    +section-title('Hello WOrld','Idk... just testing')
    .col-md-6.col-sm-6.col-xs-12
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .icon-right
          i.fa.fa-desktop
        .content-left
          h5.uppercase 1/5 Width, Float Left, Icon
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.
          +text('span','danger')
            i Testing!...
    .col-md-6.col-sm-6.col-xs-12
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .icon-left
          i.fa.fa-file-pdf-o
        .content-right
          h5.uppercase 1/5 Width, Float Right, Icon
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.

  +row()(class="clearfix test2")
    .col-md-6.col-sm-6.col-xs-12
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .content-right
          h5.uppercase 1/5 Width, Float Right
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.
    .col-md-6.col-sm-6.col-xs-12
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .content-right
          h5.uppercase 1/5 Width, Float Left
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.

  +row()(class="clearfix test2")
    .col-xs-12.col-md-8
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .icon-right
          i.fa.fa-desktop
        .content-left
          h5.uppercase 2/3rds Width
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.
    .col-xs-6.col-md-4
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .icon-left
          i.fa.fa-file-pdf-o
        .content-right
          h5.uppercase 1/3rd Width
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.

  //- 2:1 ratio, left aligned, with icon
  +row()(class="clearfix test2")
    .col-xs-12.col-md-8
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .icon-left
          i.fa.fa-desktop
        .content-right
          h5.uppercase 2/3rds Width
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.
    .col-xs-6.col-md-4
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .icon-left
          i.fa.fa-file-pdf-o
        .content-right
          h5.uppercase 1/3rd Width
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.

  //- 2:1 ratio, left aligned, with icon
  +row()(class="clearfix test2")
    .col-xs-6.col-md-4
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .icon-left
          i.fa.fa-file-pdf-o
        .content-right
          h5.uppercase 1/3rd Width
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.
    .col-xs-12.col-md-8
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .icon-left
          i.fa.fa-desktop
        .content-right
          h5.uppercase 2/3rds Width
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.

    //- 2:1 ratio, left aligned, with icon
  +row()(class="clearfix test2")
    .col-xs-6.col-md-4
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .content-right
          h5.uppercase 1/3rd Width
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.
    .col-xs-12.col-md-8
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .content-right
          h5.uppercase 2/3rds Width
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.

  //- 3 columns, no icons, left aligned
  +row()(class="clearfix test2")
    .col-xs-6.col-md-4
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .content-right
          h5.uppercase 1/3rd Width
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.
    .col-xs-6.col-md-4
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .content-right
          h5.uppercase 1/3rd Width
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.
    .col-xs-6.col-md-4
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .content-right
          h5.uppercase 1/3rd Width
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.

  //- 3 columns, icons, left aligned
  +row()(class="clearfix test2")
    .col-xs-6.col-md-4
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .icon-right
          i.fa.fa-desktop
        .content-right
          h5.uppercase 1/3rd Width
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.
    .col-xs-6.col-md-4
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .icon-left
          i.fa.fa-desktop
        .content-right
          h5.uppercase 1/3rd Width
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.
    .col-xs-6.col-md-4
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .icon-right
          i.fa.fa-desktop
        .content-left
          h5.uppercase 1/3rd Width
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.

  //- 3 columns
  +row()(class="clearfix test2")
    .col-xs-6.col-md-4
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .icon-right
          i.fa.fa-desktop
        .content-left
          h5.uppercase 1/3rd Width
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.
    .col-xs-6.col-md-4
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .icon-right
          i.fa.fa-desktop
        .content-left
          h5.uppercase 1/3rd Width
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.
    .col-xs-6.col-md-4
      .service-item-2.item_top(style="opacity: 1; top: 0px;")
        .icon-right
          i.fa.fa-desktop
        .content-left
          h5.uppercase 1/3rd Width
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.

  +end_block( 'hello-world.pug > content' )

//- 
  block footer_content
    div.col-md-12.item_fade_in
      strong Thanks for visiting...