doctype html
html(ang="en-US", class="no-js")
	head
		// Begin Meta Tags 
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
		meta(name="description",content="Responsive One Page Vcard Portfolio or Resume Template")
		meta(name="author",content="TheThemeLab")
		// End Meta Tags 

		title Professional - Responsive One Page Resume Template

		// Begin Favicons 
		link(rel="shortcut icon" href="/assets/img/ico-16.ico")
		link(rel="apple-touch-icon", href="/assets/img/ico-57.png", sizes="57x57")
		link(rel="apple-touch-icon", href="/assets/img/ico-72.png", sizes="72x72")
		link(rel="apple-touch-icon", href="/assets/img/ico-114.png", sizes="114x114")
		link(rel="apple-touch-icon", href="/assets/img/ico-144.png", sizes="144x144")
		// End Favicons 

		// Begin Stylesheets 
		link(type="text/css", href="/assets/css/bootstrap.min.css", rel="stylesheet")
		link(type="text/css", href="/assets/css/plugins.css", rel="stylesheet")
		link(type="text/css", href="/assets/css/font-awesome.min.css", rel="stylesheet")
		link(type="text/css", href="/assets/css/style.css", rel="stylesheet")
		link(type="text/css", href="/assets/css/style-responsive.css", rel="stylesheet")
		// Begin Stylesheets 

		// Google Font 
		link(thref="http://fonts.googleapis.com/css?family=Lato:400,300,900|Lora:400italic,700italic|Open+Sans:400,400italic,700", rel="stylesheet", type="text/css")
	body
		// Begin Pre-loader 
		div.mask
			div#intro-loader
		// End Pre-loader 

		// Begin Navigation 
		nav#navigation-sticky.first-nav.color-nav

			// Begin Navigation Inner 
			div.nav-inner
				div.logo
					// Navigation Logo Link 
					a.scroll(href="index.html")
						// dark logo for white background 
						img.site_logo(src="/assets/images/logo-light.png",alt="Logo")
				// Mobile Menu Button 
				a.mobile-nav-button.colored
					i.fa.fa-bars

				// Begin Navigation Menu 
				div.nav-menu.clearfix
					ul.nav.uppercase
						li.active
							a.scroll(href="index.html") Home
						li
							a.scroll(href="index.html") About
						li
							a.scroll(href="index.html") Services
						li
							a.scroll(href="index.html") Blog
						li
							a.scroll(href="index.html") Contact
				// End Navigation Menu 
			// End Navigation Inner 
		// End Navigation 

		// Begin Contact Section 
		section#contact.section-content.new-line.killPadBottom
			div.container
				// Begin Row 
				div.row
					div.col-md-12
						// Section title 
						div.section-title.item_bottom.text-center
							h1.uppercase Section Header
							// Vertical Spacer 
							// b.v-line-md
							h4.weight-300 Section Summary
						// End Section title 
				// End Row 

				// Begin Row 
				div.row.clearfix
					div.col-md-12.col-sm-12.col-xs-12
						// Begin Service Item 
						div.service-item-2.item_top(style="opacity: 1; top: 0px;")
							div
								h5.uppercase Full Width
								p This is full width
						// END Service Item 
				// End Row 

				// Begin Row 
				div.row.clearfix
					div.col-md-6.col-sm-6.col-xs-12

						// Begin Service Item 
						div.service-item-2.item_top(style="opacity: 1; top: 0px;")
							div.icon-right
								i.fa.fa-desktop
							div.content-left
								h5.uppercase Fully Responsive
								p Lorem ipsum dolor sit amet, consectetur...
						// END Service Item 
					div.col-md-6.col-sm-6.col-xs-12
						// Begin Service Item 
						div.service-item-2.item_top(style="opacity: 1; top: 0px;")
							div.icon-left
								i.fa.fa-file-pdf-o
							div.content-right
								h5.uppercase Full Documentation
								p Integer sed magna vel velit...
						// END Service Item 
				// End Row 

				// Begin Row 
				div.row
					div.col-md-8.col-sm-8
						div.form-respond.text-center
						form#contactform.validate.item_bottom(method="post", name="contactform", role="form", autocomplete="on")
							div.form-group
								input#name.form-control.input-lg.required(type="text", name="name", placeholder="Your Name")
								input#email.form-control.input-lg.required.email(type="email", name="email", placeholder="Your Email")
								textarea#message.form-control.input-lg.required(name="message", rows="9", placeholder="Your Message")
							div.form-group
								div.text-right
									button#contactForm_submit.btn.btn-dark.btn-default.btn-full.btn-fill(type="submit")
										i.fa.fa-paper-plane-o
										= "Say Hello!"
							// antispam code 
							div.antismap
								input(type="text", name="url")
					div.col-md-4.col-sm-4
						// Begin Contact Details 
						ul.contact-info.item_right
							li
								i.fa.fa-map-marker
								span
									strong John Doe
									br
									= "12 Blah Blah"
									br
									= "Phoenix, AZ"
							li
								i.fa.fa-phone
								span
									strong Phone
									br
									= "+1 343 234 4343"
							li.fa.fa-skype
								span
									strong Skype
									br
									= "john.doe"
							li
								i.fa.fa-envelope
								span
									strong E-Mail
									br
									a(href="mailto:johndoe@example.com") johndoe@example.com
						// End Contact Details 
				// End Row 
		// End Contact Section 

		footer.text-center
			// Begin Footer Container 
			div.container
				div.row
					div.col-md-12.item_fade_in
						div.footer-thanks
							h1 Thank you for visiting.
							div.footer-social
								a.fb(target="_blank", href="#")
									i.fa.fa-facebook
								a.twt(target="_blank", href="#")
									i.fa.fa-twitter
								a.drbl(target="_blank", href="#")
									i.fa.fa-dribbble
				// Begin Row 
				div.row
					div.col-md-12.item_fade_in
						div.uppercase.text-center &copy; Copyright 2014 Professional. All Rights Reserved.
				// End Row 

			// End Footer Container 
		// Begin JS Library 
		script(type="text/javascript", src="/assets/js/jquery.min.js")
		script(type="text/javascript", src="/assets/js/bootstrap.min.js")
		script(type="text/javascript", src="/assets/js/plugins.js")
		script(type="text/javascript", src="/assets/js/jquery.sticky.js")
		script(type="text/javascript", src="/assets/js/jquery.appear.js")
		script(type="text/javascript", src="/assets/js/jquery.validate.min.js")
		script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?sensor=false")
		script(type="text/javascript", src="/assets/js/gmap-settings.js")
		script(type="text/javascript", src="/assets/js/skill-settings.js")
		script(type="text/javascript", src="/assets/js/script.js")
		// End JS Library 


