include components/misc

// Begin: head
!= head
// End: head

!=contents

h1 Hello World!


div#buttons
  +btn('Icon Test #1 (default to left)', { type: 'foobar', icon: 'angle-double-left' })
  +btn('Icon Test #2 (left)', { icon: { left: 'angle-double-left' } })
  +btn('Icon Test #3 (right)', { icon: { right: 'angle-double-right' } })
  +btn('Icon Test #4 (left & right)', { icon: { left: 'angle-double-left', right: 'angle-double-right' } })

  each type, index in technical.template.buttons.types
    div
      h3 Button Theme #{type}
      | <!-- Index: #{index}; Type: #{type} -->
      +btn('btn-' + type + ' btn-fill ', { type: type, fill: true })
      br
      +btn('btn-' + type + ' btn-' + type + ' btn-dark ', { type: type, fill: false })
      br
      +btn('btn-' + type + ' btn-block ', { type: type, block: true })
      br
      +btn('btn-' + type + ' disabled', { type: type, disabled: true })
      br
      +btn('btn-' + type + ' active', { type: type, disabled: false })
      br
      - var btnEvents = {}
      each event, eIdx in ['contextmenu','dblclick','mousedown','ONMOUSeenter','mouseleave','mousemove','mouseover','mouseout','mouseup']
        -   btnEvents[ event ] = "javascript:alert('Event Triggered: on"+event+"');"
      +btn('btn-' + type + ' active events', { type: type, events: btnEvents })
      br
      
      each size, sidx in technical.template.buttons.sizes
        +btn('btn-' + type + ' btn-' + size + ' btn-dark', { type: type, size: size })
        br