doctype html
html(ang="en-US", class="no-js")
	script(src="/assets/js/bundle.js")
	hr
	strong First Name:
	input#first_name
	br
	strong Last Name:
	input#last_name
	br
	button#gen-username
		Generate Username
