extends row

block row-data
  div.col-md-12
    // Section title 
    div.section-title.item_bottom.text-center
      //- h1.uppercase Test Header
      // Begin: 1-col header 
      block section-head
      // End: 1-col header 
      // Vertical Spacer 
      b.v-line-md
      // Begin: 1-col body 
      //- h4.weight-300 This is the BODY!
      block section-body
      // Begin: 1-col body 
      // End Section title 