extends row

block row-data
  div.col-md-6.col-sm-6.col-xs-12

    // Begin Service Item 
    div.service-item-2.item_top(style="opacity: 1; top: 0px;")
      div.icon-right
        i.fa.fa-desktop
      div.content-left
        h5.uppercase 
          block col1-head
        p 
          block col1-body
      // END Service Item 
  div.col-md-6.col-sm-6.col-xs-12
    // Begin Service Item 
    div.service-item-2.item_top(style="opacity: 1; top: 0px;")
      div.icon-left
        i.fa.fa-file-pdf-o
      div.content-right
        h5.uppercase 
          block col2-head
        p 
          block col2-body
    // END Service Item 