// Begin: js 

script(src="/assets/js/bundle.js")
// Begin JS Library 
script(type="text/javascript", src="/assets/js/jquery.min.js")
script(type="text/javascript", src="/assets/js/bootstrap.min.js")
script(type="text/javascript", src="/assets/js/plugins.js")
script(type="text/javascript", src="/assets/js/jquery.sticky.js")
script(type="text/javascript", src="/assets/js/jquery.appear.js")
script(type="text/javascript", src="/assets/js/jquery.validate.min.js")
script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?sensor=false")
script(type="text/javascript", src="/assets/js/gmap-settings.js")
script(type="text/javascript", src="/assets/js/skill-settings.js")
script(type="text/javascript", src="/assets/js/script.js")
// End JS Library 

// End: js 
