// Begin: meta-info 

-
	function limit_str(phrase, limit, units){ 
		if ( ! phrase || typeof phrase !== 'string' || ! limit || typeof limit !== 'number' ){
			return phrase
		}
		if( typeof units !== 'string' || [ 'chars','words' ].indexOf( units ) === -1 ){
			units = 'chars'
		}
		if( units === 'words' ){
			phrase = phrase.split( " " )
			phrase = phrase.slice( 0, limit )
			return phrase.join(' ')
		} 
		return phrase.substr( 0, limit-1 )
	}

	function create_meta(attrs){
		if ( typeof attrs.content === 'string' && typeof attrs.name === 'string' && typeof technical.meta[attrs.name] !== 'undefined' ){
			attrs.content = limit_str( attrs.content, parseInt( technical.meta[attrs.name].length ), technical.meta[attrs.name].length_units )
		}
		//- see: https://developers.facebook.com/docs/sharing/webmasters#markup
		//- og:title og:type og:image og:url og:description
		return attrs
	}


for m in meta_data
	meta()&attributes(create_meta(m))

// End: meta-info 