doctype html
include ../components/columns

html(ang="en-US", class="no-js")
  include head

  body
    include preloader
    include navigation
    - if( typeof banner_text !== 'undefined' )
      h1 #{banner_text}

    main.pa4.bg-white
      h1
        block section-content
      // [skeleton.pug] Begin: block content

      // [skeleton.pug] End: block content

  include footer

  include js