if webconfigs.verbosity.html_comments.templates_begin_end
  // Begin Partial: templates/partials/template/header.pug


!=contents

p test


if webconfigs.verbosity.html_comments.templates_begin_end
  // End Partial: templates/partials/template/header.pug