include ../../components/misc

+begin_template( 'templates/partials/template/navigation.pug' )

nav#navigation-sticky.first-nav.color-nav

  // Begin Navigation Inner 
  div.nav-inner
    div.logo
      // Navigation Logo Link 
      a.scroll(href="index.html")
        // dark logo for white background 
        img.site_logo(src="/assets/images/logo-light.png",alt="Logo")
    // Mobile Menu Button 
    a.mobile-nav-button.colored
      i.fa.fa-bars

    // Begin Navigation Menu 
    div.nav-menu.clearfix
      ul#nav-one.nav.uppercase
        li.active
          a.scroll(href='index.html#home') Home
        li
          a.scroll(href='index.html#about') About
        li
          a.scroll(href='index.html#services') Services
        li
          a.scroll(href='index.html#blog') Blog
        li
          a.scroll(href='index.html#contact') Contact

    // End Navigation Menu 
  // End Navigation Inner 

+end_template( 'templates/partials/template/navigation.pug' )